body {
    /*background-image: url("bgpage/4.jpg");*/
    background-color:white;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(46, 70, 60);
}

.footer p{
    color:white;
    text-align: center;
}

div.pagina {
    margin: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.textbox p {
    color: white;
}

div#quadrados {
    margin-left: 5%;
    color: white;
}

div.iconContacts {
    margin: 5%;
    margin-left: 15%;
}

div.iconContacts a {
    padding: 3px;
    margin: 10px;
}

h1 {
    color: #4CAF50;
    font-family: "Verdana", Arial, sans-serif;
    font-size: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 3%;
    text-align: center;
}

h2.descricao {
    color: black;
    font-family: "Verdana", Arial, sans-serif;
    font-size: 85%;
    line-height: 180%;
    text-align: center;
    margin-top: 2px;
    margin-left: 7%;
    margin-right: 18%;
    margin-bottom: 1px;
    text-decoration: none;
}

h2 {
    color: black;
    font-family: "Verdana", Arial, sans-serif;
    font-size: 100%;
    margin: 3.5%;
    margin-left: 10%;
    margin-bottom: 1%;
    text-align: left;
}

h3 {
    color: black;
    font-family: "Verdana", Arial, sans-serif;
    font-size: 89%;
    margin-left: 10%;
}

h4 {
    color: black;
    font-family: "Verdana", Arial, sans-serif;
    font-size: 70%;
    margin: 3%;
}

a {
    color: black;
    font-family: "Verdana", Arial, sans-serif;
    text-decoration: none;
    font-size: 90%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ol,
ul {
    font-family: "Verdana", Arial, sans-serif;
    margin-bottom: 1%;
    text-align: left;
    line-height: 2;
    color: black;
    margin-left: 8%;

}

ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol.d {
    list-style-type: lower-alpha;
}

div.composicao p {
    font-family: "Verdana", Arial, sans-serif;
    padding-bottom: 0px;
    padding-top: 0px;
    /* Editar caso espaço texto for maior/menor */
    margin-top: 2px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1px;
    margin-bottom: 0px;
    text-align: justify;
    line-height: 2;
    text-indent: 2.5em;
    font-size: 90%;
    color: black;
}

p {
    font-family: "Verdana", Arial, sans-serif;
    padding-bottom: 0px;
    padding-top: 0px;
    /* Editar caso espaço texto for maior/menor */
    margin-top: 2px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1px;
    margin-bottom: 0px;
    text-align: justify;
    line-height: 2;
    text-indent: 2.5em;
    font-size: 90%;
    color: black;
}


ul.navigationBar {
    list-style-type: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: rgb(46, 70, 60);
    opacity: 0.8;
    font-family: "Verdana", Arial, sans-serif;
}

ul.navigationBar li {
    float: left;
}

ul.navigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

ul.navigationBar li a:hover:not(.active) {
    background-color: #111;
    color: #FFFFFF;
    font-weight: bold;
}

ul.navigationBar .active {
    background-color: #4CAF50;
}

img.icon {
    margin: 1%;
}